/* common shared styles */
* {
    font-family: 'Lato';
}

body {
    margin: 0;
}

.btn {
    border-radius: 8px;
    background: #E55473;
    font-size: 20px;
    font-weight: 700;
    color: #FFF;
    padding: 20px 43px;
    border: 0;
}

/* header section styles */
.main-header {
    display: flex;
    background: rgba(229, 84, 115, 0.10);
    max-width: 100%;
    padding: 50px 200px 0px 200px;
    justify-content: space-between;
}
.header-content{
    max-width: 758px;
    max-height: 700px;
    margin-top: 50px;
}

.header-title {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    max-width: 708px;
    max-height: 288px;
}

.header-descrip {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    max-width: 636px;
    max-height: 90px;
    margin: 32px 0;
}
/* bonus section styles */
.bonus{
    margin-top: 175px ;
}
.bonus-heading{
    text-align: center;
    color: #272727;
font-size: 40px;
font-weight: 800;
}
.bonus-descrip{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 18px;
font-weight: 400;


}
.bonus-flower-box-container{
    display: flex;
    gap: 24px;
    margin-top: 48px;
    margin-left: 240px;
    margin-right: 240px;
    margin-bottom: 128px;
}
.bonus-flower-box-1{
width: 464px;
height: 538px;
border-radius: 300px 300px 0px 0px;
background: rgba(167, 33, 98, 0.15);
}
.bonus-flower-box-2{
width: 464px;
height: 538px; 
border-radius: 300px 300px 0px 0px;
background: rgba(5, 151, 160, 0.15);
}

.bonus-flower-box-3{
width: 464px;
height: 538px;
border-radius: 300px 300px 0px 0px;
background: rgba(71, 125, 17, 0.15);
}
.one{
    max-width: 310px;
    max-height: 428px;
    margin: 110px 78px 0 76px;
}
.two{
max-width: 370px;
max-height: 370px;
margin: 117px 47px 51px 47px;


}
.three{
max-width: 314px;
max-height: 471px;
margin: 67px 75px 0 75px;

}
.capt{
    color: #272727;
    padding: 32px 50px 0 150px;
font-size: 24px;
font-weight: 700;
text-decoration: underline;
}
.capt-2{
    color: #272727;
    padding: 32px 50px 0 110px;
font-size: 24px;
font-weight: 700;
text-decoration: underline;
}
/* bonus section 2 styles */
.bonus-2{
    display: flex;
    margin: 0 240px 128px 240px;
    max-width: 1440px;
    max-height: 320px;
    border-radius: 8px;
background: rgba(39, 39, 39, 0.05);
padding: 86px 236px 86px 236px;
justify-content: space-around;

}
.boxes{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* sales section styles */
.sales-section{
    max-width: 100%;
    max-height: 620px;
    border-radius: 8px;
background: rgba(229, 84, 115, 0.05);
display: flex;
padding: 100px 429px 80px 395px;
gap: 200px;
}
.sales-written{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
    ;
}
.sales-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}
.off{
    color: #E55473;
    font-size: 40px;
    font-weight: 800;
}
.sales-descrip{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 18px;
font-weight: 400;
}